html {
  overflow-y: scroll;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #effafa;
  font-family: "Spartan", sans-serif;
}
body p {
  font-size: 15px;
  font-weight: 500;
  color: #7b8e8e;
}
body h2 {
  font-size: 17px;
  color: #5ba4a4;
}
body h1 {
  color: #5ba4a4;
  font-size: 20px;
  font-weight: 700;
}

header {
  max-width: 100%;
  position: relative;
}
header img {
  width: 100%;
  max-width: 100%;
  background-color: #5ba4a4;
}

.filterCard {
  transition: 0.2s ease-in;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  max-width: 100%;
  width: 180px;
  height: 45px;
  margin: 5px;
  background-color: #e1f5f5;
  border-radius: 4px;
}
.filterCard:hover {
  transition: 0.2s ease-in;
  cursor: pointer;
  background-color: #2c3a3a;
}
.filterCard:hover h2 {
  color: white;
}

.showAll {
  transition: 0.2s ease-in;
  margin: 5px 25px;
}
.showAll:hover {
  cursor: pointer;
}
.showAll:hover h2 {
  color: #2c3a3a;
  text-decoration: underline;
  text-decoration-color: #e1f5f5;
  text-decoration-skip-ink: none;
  text-decoration-thickness: 10px;
  text-underline-offset: -10px;
}

.activeShowAll {
  transition: 0.2s ease-in;
  cursor: pointer;
}
.activeShowAll h2 {
  color: #2c3a3a;
  text-decoration: underline;
  text-decoration-color: #e1f5f5;
  text-decoration-skip-ink: none;
  text-decoration-thickness: 10px;
  text-underline-offset: -10px;
}

.active {
  transition: 0.2s ease-in;
  cursor: pointer;
  background-color: #2c3a3a;
}
.active h2 {
  color: white;
}

.wrap {
  position: absolute;
  top: 125px;
  width: 1000px;
  max-width: 100%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.filters {
  max-width: 100%;
  display: flex;
  justify-content: center;
  background-color: white;
  height: 150px;
  align-items: center;
  border-radius: 8px;
  filter: drop-shadow(0px 7px 5px #e1f5f5);
}

.jobList {
  margin: 125px auto;
  width: 1000px;
  max-width: 100%;
}
.jobList .job {
  transition: 0.2s ease-in;
  display: flex;
  align-items: center;
  max-width: 100%;
  width: 100%;
  height: 200px;
  margin: 25px auto;
  display: flex;
  justify-content: flex-start;
  background-color: white;
  border-radius: 8px;
  filter: drop-shadow(0px 7px 5px #e1f5f5);
}
.jobList .job img {
  max-width: 100%;
  height: 75px;
  margin: 15px 0px;
}
.jobList .job .mainInfo {
  width: 150px;
  max-width: 100%;
  margin: 0px 50px;
  padding: 25px 0px;
}
.jobList .job .mainInfo p {
  font-weight: 700;
  color: #5ba4a4;
}
.jobList .job .mainInfo div {
  width: 150px;
  align-items: center;
  justify-content: space-between;
  max-width: 100%;
  display: flex;
}
.jobList .job .mainInfo div p {
  color: #5ba4a4;
}
.jobList .job .mainInfo div .new {
  display: flex;
  max-width: 100%;
  font-weight: 500;
}
.jobList .job .mainInfo div .new p {
  padding: 0px 80px;
}
.jobList .job .mainInfo div .featured {
  max-width: 100%;
  display: flex;
  margin: 0px 35px;
  font-weight: 500;
}
.jobList .job .activeNew {
  padding: 0px 25px;
  height: 30px;
  border-radius: 100px;
  align-items: center;
  background-color: #e1f5f5;
}
.jobList .job .activeFeatured {
  padding: 0px 25px;
  height: 30px;
  border-radius: 100px;
  align-items: center;
  border: solid 1px #5ba4a4;
}
.jobList .job .moreInfo {
  margin: 50px 0px;
}
.jobList .job .moreInfo h1 {
  padding: 15px 10px;
}
.jobList .job .moreInfo .flex {
  display: flex;
}
.jobList .job .moreInfo .flex p {
  padding: 0px 10px;
}
.jobList .job:hover {
  transition: 0.2s ease-in;
  filter: drop-shadow(0px 7px 10px #bfe3e3);
  cursor: pointer;
}

@media (max-width: 575.98px) {
  body p {
    font-size: 14px;
    font-weight: 500;
    color: #7b8e8e;
  }
  body h2 {
    font-size: 16px;
    color: #5ba4a4;
  }
  body h1 {
    color: #5ba4a4;
    font-size: 16px;
    font-weight: 700;
  }

  .wrap {
    position: absolute;
    top: 50px;
    width: 100%;
    max-width: 100%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .filters {
    max-width: 100%;
    width: 100%;
    height: 80px;
    align-items: center;
    border-radius: 8px;
    filter: drop-shadow(0px 7px 5px #e1f5f5);
  }

  .mainInfo {
    width: 65px !important;
    max-width: 100%;
    margin: 0em 1em !important;
    padding: 5px !important;
  }
  .mainInfo div {
    margin-bottom: 15px !important;
  }
  .mainInfo div p {
    margin-bottom: 5px;
  }
  .mainInfo div .new {
    display: flex;
    max-width: 100%;
    font-weight: 500;
  }
  .mainInfo img {
    max-width: 100%;
    height: 50px !important;
  }
  .mainInfo .new {
    display: flex;
    max-width: 100%;
    font-weight: 500;
  }
  .mainInfo .new p {
    padding: 0px 10px !important;
  }
  .mainInfo .featured {
    max-width: 100%;
    display: flex;
    margin: 0px 15px !important;
    font-weight: 500;
  }

  .activeNew {
    padding: 5px 45px !important;
    height: 25px !important;
    border-radius: 100px;
    align-items: center;
    justify-content: center !important;
    background-color: #e1f5f5;
  }

  .activeFeatured {
    padding: 5px 45px !important;
    height: 25px !important;
    border-radius: 100px;
    align-items: center;
    justify-content: center !important;
    border: solid 1px #5ba4a4;
  }
}

/*# sourceMappingURL=style.css.map */
