$primary: hsl(180, 29%, 50%);
$bgColor: hsl(180, 52%, 96%);
$filterColor: hsl(180, 49%, 92%);
$secondary-dark: hsl(180, 8%, 52%);
$secondary-darker: hsl(180, 14%, 20%);
$cardsColors: hsl(180, 79%, 96%);
